body{
  font-size:smaller;
  width: 99.1%;
  padding-left: 0.5rem;
}

.Tablebody{
  background-color: aliceblue;
}
.searchbar{
  width: 50%;
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

.srchinp{
  padding-right: 1rem;
}